<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">

	<form ng-submit="addMessage(newMessage)">
    <!-- <input ng-model="profilePic" type="jpg" placeholder="Insert Image Here"> -->
    <input ng-model="newMessage" type="text" placeholder="Hello!">
    <!-- <input ng-model="username" type="text" placeholder="Username"> -->
 	</form>

	<div ng-repeat="message in messages track by $index">
    {{message.message}} : {{message.time}}

  </div>

</div>
